@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<h1>Регистрация</h1>

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-floating mb-3">
        <input asp-for="Input.DisplayName" class="form-control" />
        <label asp-for="Input.DisplayName">Име</label>
        <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Input.Email" class="form-control" />
        <label asp-for="Input.Email">Имейл</label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Input.Password" class="form-control" />
        <label asp-for="Input.Password">Парола</label>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <label asp-for="Input.ConfirmPassword">Потвърди паролата</label>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="w-100 btn btn-lg btn-primary">
        Регистрация
    </button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
