@page
@using SuperFit.Services
@model ForgotPasswordConfirmation

<h1>Проверете “имейла” си</h1>
<p>Ако съществува акаунт с този имейл, изпратихме линк за смяна на парола.</p>

@if (DevEmailSender.LastHtmlMessage != null)
{
    <div class="alert alert-info mt-3">
        <div class="fw-bold">DEV режим: имейлът не се изпраща реално.</div>
        <div>До: <b>@DevEmailSender.LastTo</b></div>
        <div>Тема: <b>@DevEmailSender.LastSubject</b></div>

        <div class="mt-2">
            @Html.Raw(DevEmailSender.LastHtmlMessage)
        </div>
    </div>
}
